.logDiv {
    height: 250px; 
    overflow: auto;
}
.logDiv table{
    border-style: double;
    border-width: 1px;
    border-color: inherit;
}

.logDiv th{
    padding: 3px;
}

.command-Command, .response-Comand {
    width: 150px;
}

.command-Received {
    width: 90px;
}

.response-Id, .command-Id {
    width: 100px;
}
.response-Time, .command-Time {
    width: 100px;
}
.response-Text {
    width: 350px;
}

.controlFieldset fieldset{
    border-style: solid;
    border-width: thin;
    border-color: inherit;
    padding: 1px;
    margin: 1px;
    
}

.commandParent {
    width: 678px;
}

.commandChild {
    width: 350px;
    height: 300px;
}

.commandChildLeft {
    width: 320px;
}

.commandChildLeft td:first-child{
    padding-left: 10px;
    padding-right: 15px;
}

.commandChildLeft input[type=button]{
    margin: 20px;
}

.commandChildLeft div{
    padding-right: 10px;
}

.commandChildRight {
    width: 350px;
}

.controlFieldset legend {
    border-style: none;
    width: auto;
    margin-bottom: 0px;
}


.text-center {
    text-align:center;
}