.commandFieldset fieldset{
    border-style: solid;
    border-width: thin;
    border-color: inherit;
    padding: 1px;
    margin: 1px;
    width: 350px;
}

.commandChild {
    width: 350px;
    height: 300px;
}

.commandChildLeft {
    width: 200px;
}

.commandChildLeft td:first-child{
    padding-left: 10px;
    padding-right: 15px;
}

.commandChildLeft input[type=button]{
    margin: 20px;
}

.commandChildRight {
    width: 350px;
}

.commandFieldset legend {
    border-style: none;
    width: auto;
    margin-bottom: 0px;
}


.text-center {
    text-align:center;
}